body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
}

i {
	color: #888;
}

.info {
	margin-top: -16px;
	margin-left: 16px;
	color: #888;
}


/* Table */
table {
	border-collapse: collapse;
}
th, td {
	padding: 4px 8px;
}

th {
	background-color: #EEE;
}

tr:hover {
	background-color: #F8F8F8;
}